/* ------- */
/* Commons */
/* ------- */

body{
	overflow-y:scroll;
}

/* ---- */
/* ID's */
/* ---- */

#header{
	display:none;
	background-color:#EEEEEE;
	height:32px;
	width:100%;
	margin:0 0 20px 0;
	padding:5px 0;
	border-bottom:1px solid #DDDDDD;
}

#loggedinheader{
	display:none;
	background-color:#EEEEEE;
	height:32px;
	width:100%;
	margin:0 0 20px 0;
	padding:5px 0;
	border-bottom:1px solid #DDDDDD;
}

#login{}
#submitlogin{}

#register{float:right;}
#submitregister{}

#title{}
#blogpost{}
#submitblogpost{}

#loginform{
	display:none;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	left:1%;
	padding:10px;
	margin:0;
	width:auto;
	height:auto;
}

#registerform{
	display:none;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	right:1%;
	padding:10px;
	margin:0;
	width:auto;
	height:auto;
}

#newblogpost input[type="text"], textarea{
	width:100%;
	resize:none;
}

#newblogpost textarea{
	height:300px;
}
/* ------- */
/* Classes */
/* ------- */

.centered{
	display:block;
	margin:0 auto;
}