/* ------- */
/* Commons */
/* ------- */

body{
	overflow-y:scroll;
}

p{
	color:#231F20;
}

/* ---- */
/* ID's */
/* ---- */

#accent{
	display:block;
	background-color:#231F20;
	height:10px;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
}

#header{
	display:block;
	background-color:#EEEEEE;
	height:32px;
	width:100%;
	margin:0 0 20px 0;
	padding:5px 0;
	border-bottom:1px solid #DDDDDD;
}

#loggedinheader{
	display:none;
	background-color:#EEEEEE;
	height:32px;
	width:100%;
	margin:0 0 20px 0;
	padding:5px 0;
	border-bottom:1px solid #DDDDDD;
}

#login{}
#submitlogin{}

#logout{float:right;}

#register{float:right;}
#submitregister{}

#title{}
#blogpost{}
#submitblogpost{}

#blogposts{
	margin:0 0 40px 0;
	padding:0;
}

#admin{
	display:none;
	float:right;
	margin:0 5px 0 0;
}

#loginform{
	display:none;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	left:1%;
	padding:10px;
	margin:0;
	width:auto;
	height:auto;
}

#registerform{
	display:none;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	right:1%;
	padding:10px;
	margin:0;
	width:auto;
	height:auto;
}

#admininterface{
	display:none;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	left:0%;
	padding:10px;
	margin:0;
	width:100%;
	height:auto;
}

#newblogpost input[type="text"], textarea{
	width:100%;
	resize:none;
}

#newblogpost textarea{
	height:300px;
}
/* ------- */
/* Classes */
/* ------- */

.back{}

.centered{
	display:block;
	margin:0 auto;
}

.headline{
	text-align:center;
	color:#CCCCCC;
	margin:0 0 20px 0;
}

.loggedinheader{
	margin:9px;
	color: #444;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	line-height: normal;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blogpost{}

.comment{}
