/* ------- */
/* Commons */
/* ------- */

body{
	overflow-y:scroll;
}

p{
	color:#231F20;
}

/* ---- */
/* ID's */
/* ---- */

#alerts{
	display:none;
	position:absolute;
	top:45px;
	right:5%;
	background-color:#ff3829;
	color:#FFFFFF;
	width:200px;
	height:auto;
	padding:20px;
	z-index:150;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: normal;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#accent{
	display:block;
	background-color:#231F20;
	height:10px;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
}

#header{
	display:block;
	background-color:#231f20;
	height:45px;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
}

#loggedinheader{
	display:none;
	background-color:#231f20;
	height:45px;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
}

#login{}
#submitlogin{}

#logout{float:right;}

#register{float:right;}
#submitregister{}

#title{}
#blogpost{}
#submitblogpost{}

#blogposts{
	margin:0 0 40px 0;
	padding:0;
}

#submitcomment{}
#comments{}

#admin{
	display:none;
	float:right;
	margin:0 5px 0 0;
}

#loginform{
	display:none;
	background-color:#f5f5f5;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	left:1%;
	padding:10px;
	margin:0;
	width:auto;
	height:auto;
}

#registerform{
	display:none;
	background-color:#f5f5f5;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	right:1%;
	padding:10px;
	margin:0;
	width:auto;
	height:auto;
}

#admininterface{
	display:none;
	background-color:#f5f5f5;
	border:1px solid #DDDDDD;
	z-index:100;
	position:absolute;
	top:-18px;
	left:0%;
	padding:10px;
	margin:0;
	width:100%;
	height:auto;
}

#newblogpost input[type="text"], textarea{
	width:99%;
	resize:none;
}

#newblogpost textarea{
	height:300px;
}
/* ------- */
/* Classes */
/* ------- */

.back{}

.centered{
	display:block;
	margin:0 auto;
}

.headline{
	text-align:center;
	color:#231f20;
	margin:80px 0 40px 0;
}

.loggedinheader{
	margin:0;
	padding:15px 0 0 0;
	color: #cccccc;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: normal;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blogpost{}

.comment{}
